---
title: Installing to Pivotal Ops Manager
---

## <a id="requirements"></a>Requirements

* Pivotal Cloud Foundry&reg;

## <a id="upload-tile"></a>Upload tile

See [Downloads](download.html) for instructions for downloading the latest tile.

Click "Import a Product" on the left hand side of your Ops Manager dashboard. Select the `dingo-shield-x.y.z.pivotal` file to upload.

The Dingo Shield™ product will appear in the "Available Products" list. Click "Add" to move it to the Installation Dashboard.

The first time you upload/install the tile it will appear with a red lower border. This means it is not yet ready to be installed - there are mandatory configuration that you will need to provide. Notably, the default Archiving configuration.

![installation-shield-tile](images/installation-shield-tile.png)

## <a id="configuration"></a>Configuration

There are two panels of configuration for Dingo Shield™ that are specific to this tile.

### <a id="configuration-database"></a>Databases

Dingo Shield™ product needs a database in order to store the archiving configuration.

You can configure "Dingo Shield" to use the internal PostgreSQL database provided with Dingo Shield™, or you can configure an external database provider for the databases (only MySQL and PostgreSQL are supported)

  **NOTE**: If you are performing an upgrade, do not modify your existing database configuration or you may lose data. You must migrate your existing data first before changing the configuration. [Contact the Dingo Tiles™ team](contact.html) for help.

#### <a id="configuration-database-internal"></a>Internal Database Configuration

  **WARNING**: The internal PostgreSQL database provided with Dingo Shield™ is a single PostgreSQL instance (NOT highly-available).

If you want to use internal databases for your deployment, perform the following steps:

1. In Dingo Shield™ Settings, select **Databases**.

2. Select **Internal Databases (PostgreSQL NOT highly-available)**.

![installation-shield-database-internal](images/installation-shield-database-internal.png)

3. Click **Save**.

#### <a id="configuration-database-mysql">External MySQL Database

  **NOTE**: The exact procedure to create databases depends upon the database provider you select for your deployment. The following procedure uses AWS RDS as an example. You can configure a different database provider that provides MySQL support, such as Google Cloud SQL.

  **WARNING**: Protect whichever database you use in your deployment with a password.

If you want to use external MySQL databases for your deployment, perform the following steps:

1. Add the `ubuntu` account key pair from your IaaS deployment to your local SSH profile so you can access the Ops Manager VM. For example, in AWS, you add a key pair created in AWS:

```
ssh-add aws-keypair.pem
```

2. SSH in to your Ops Manager using the Ops Manager FQDN and the username `ubuntu`:

```
ssh ubuntu@OPS_MANAGER_FQDN
```

3. Log in to your MySQL database instance using the appropriate hostname and user login values configured in your IaaS account. For example, to log in to your AWS RDS instance, run the following MySQL command:

```
mysql --host=RDSHOSTNAME --user=RDSUSERNAME --password=RDSPASSWORD
```

4. Run the following MySQL commands to create databases for the Shield components that require a relational database:

```
CREATE database shielddb;
```

5. Type `exit` to quit the MySQL client, and `exit` again to close your connection to the Ops Manager VM.

6. In Dingo Shield™ Settings, select **Databases**.

7. Select **External MySQL Database**.

![installation-shield-database-mysql](images/installation-shield-database-mysql.png)

8. Complete the following fields:

| Field | Notes |
| --- | --- |
| Hostname DNS Name | Specify the hostname of the database server |
| TCP Port | Specify the port of the database server |
| Username | Specify a unique username that can access this specific database on the database server. |
| Password | Specify a password for the provided username |
| Database Name | Specify the database name on the database server |

9. Click **Save**.

#### <a id="configuration-database-mysql">External PostgreSQL Database

  **NOTE**: The exact procedure to create databases depends upon the database provider you select for your deployment. The following procedure uses AWS RDS as an example. You can configure a different database provider that provides PostgreSQL support, such as Google Cloud SQL.

  **WARNING**: Protect whichever database you use in your deployment with a password.

If you want to use external PostgreSQL databases for your deployment, perform the following steps:

1. Add the `ubuntu` account key pair from your IaaS deployment to your local SSH profile so you can access the Ops Manager VM. For example, in AWS, you add a key pair created in AWS:

```
ssh-add aws-keypair.pem
```

2. SSH in to your Ops Manager using the Ops Manager FQDN and the username `ubuntu`:

```
ssh ubuntu@OPS_MANAGER_FQDN
```

3. Log in to your PostgreSQL database instance using the appropriate hostname and user login values configured in your IaaS account. For example, to log in to your AWS RDS instance, run the following PostgreSQL command:

```
psql --host=RDSHOSTNAME --username=RDSUSERNAME --password
```

4. Run the following PostgreSQL commands to create databases for the Shield components that require a relational database:

```
CREATE database shielddb;
```

5. Type `exit` to quit the PostgreSQL client, and `exit` again to close your connection to the Ops Manager VM.

6. In Dingo Shield™ Settings, select **Databases**.

2. Select **External PostgreSQL Database**.

![installation-shield-database-postgresql](images/installation-shield-database-postgresql.png)

8. Complete the following fields:

| Field | Notes |
| --- | --- |
| Hostname DNS Name | Specify the hostname of the database server |
| TCP Port | Specify the port of the database server |
| Username | Specify a unique username that can access this specific database on the database server. |
| Password | Specify a password for the provided username |
| Database Name | Specify the database name on the database server |

9. Click **Save**.

### <a id="configuration-archiving"></a>Archiving options

1. In Dingo Shield™ Settings, select **Archiving**.

![installation-shield-archiving](images/installation-shield-archiving.png)

2. Enter an **Environment** name for your Shield installation (ie: `production`).

3. Enter a daemon **Name** for your Shield installation (ie: `pcf-shield`).

4. Enter the default *Schedule** (when it should run which backup jobs).

5. Enter the default *Retention Policy** in days (how long archived data is kept).

6. Click **Save**.

## <a id="installation"></a>Installation

1. Return to the Ops Manager dashboard via the "< Installation Dashboard" link at the top left.

2. The Dingo Shield™ tile is now green and is ready to be installed. Press **Apply Changes**.

The install process generally requires several minutes to complete. The image shows the Changes Applied window that displays when the installation process successfully completes.

![installation-shield-completed](images/installation-shield-completed.png)

## <a id="verification"></a>Verification

Dingo Shield™ Web UI should now be available at the `shield` hostname in your system domain.

1. The Dingo Shield™ Web UI is protected by a `username` and `password`. In Dingo Shield™ Credentials, look for the **Shield Credentials**:

![installation-shield-credentials](images/installation-shield-credentials.png)

2. If you do not know the system domain for the deployment, then select **Pivotal Elastic Runtime > Settings > Domains** to locate the configured system domain.

3. Open a browser and navigate to `shield.YOUR-SYSTEM-DOMAIN`. For example, if the system domain is `system.example.com`, then point your browser to `shield.system.example.com`.

4. Log in using the Shield credentials for the Admin user. The Dingo Shield™ dashboard appears.

![installation-shield-dashboard](images/installation-shield-dashboard.png)

### <a id="verification-storages"></a>Confirm default Storage

1. At the Dingo Shield™ Web UI, go to the **Storage** tab.

2. Confirm that there is a **default** storage:

![installation-shield-default-storage](images/installation-shield-default-storage.png)

### <a id="verification-rentention-policies"></a>Confirm default Retention Policy

1. At the Dingo Shield™ Web UI, go to the **Retention** tab.

2. Confirm that there is a **default** retention policy:

![installation-shield-default-retention-policy](images/installation-shield-default-retention-policy.png)

### <a id="verification-schedules"></a>Confirm default Schedule

1. At the Dingo Shield™ Web UI, go to the **Schedules** tab.

2. Confirm that there is a **default** storage:

![installation-shield-default-schedule](images/installation-shield-default-schedule.png)
