---
title: Monitoring Dingo Shield™ with Dingo Prometheus™
---

  **NOTE**: This section assumes that you have deployed the [Dingo Prometheus™](/dingo-prometheus/) product.

Dingo Prometheus™ allows you to monitor your Dingo Shield™ installation. It comes with a set of predefined **Alerts** and **Dashboards** for Dingo Shield™. No configuration is needed when both products are deployed at the same Pivotal Ops Manager environment.

Please refer to the [Dingo Prometheus™ documentation](/dingo-prometheus/) if you have questions about how to access to your Dingo Prometheus™ environment.

## <a id="shield-alerts"></a>Alerts

Dingo Prometheus™ comes with a set of predefined alerts for Dingo Shield™.

### <a id="shield-jobs-alerts"></a>Shield Jobs

Shield Jobs alerts monitors your **Shield Jobs** status and emits alerts depending on the Job state:

![monitoring-shield-job-alerts](images/monitoring-shield-job-alerts.png)

| Alert | Description |
| ----- | ----------- |
| ShieldJobFailed1d | I will emit a **warning** alert if a **Shield Job** is **NOT paused** and has been in a **failing status** for more than 1 day |
| ShieldJobPaused1d | I will emit a **warning** alert if a **Shield Job** has been in a **paused state** for more than 1 day |
| ShieldJobPending1d | I will emit a **warning** alert if a **Shield Job** has been in a **pending state** for more than 1 day |
| ShieldJobRunning1d | I will emit a **warning** alert if a **Shield Job** has been in a **running state** for more than 1 day |

### <a id="shield-exporter-alerts"></a>Shield Exporter

Shield Exporter alerts monitors the **Shield Exporter**, the component responsible to scrape metrics from Shield, and emits alerts depending on its state:

![monitoring-shield-exporter-alerts](images/monitoring-shield-exporter-alerts.png)

| Alert | Description |
| ----- | ----------- |
| ShieldExporterArchivesScrapeError | I will emit a **critical** alert if the exporter is unable to scrape **Archives** metrics from Shield during the last 10 minutes |
| ShieldExporterArchivesScrapeTooOld | I will emit a **warning** alert if the last scrape for **Archives** metrics from Shield was more than 10 minutes ago |
| ShieldExporterJobsScrapeError | I will emit a **critical** alert if the exporter is unable to scrape **Jobs** metrics from Shield during the last 10 minutes |
| ShieldExporterJobsScrapeTooOld | I will emit a **warning** alert if the last scrape for **Jobs** metrics from Shield was more than 10 minutes ago |
| ShieldExporterRetentionPoliciesScrapeError | I will emit a **critical** alert if the exporter is unable to scrape **Retention Policies** metrics from Shield during the last 10 minutes |
| ShieldExporterRetentionPoliciesScrapeTooOld | I will emit a **warning** alert if the last scrape for **Retention Policies** metrics from Shield was more than 10 minutes ago |
| ShieldExporterSchedulesScrapeError | I will emit a **critical** alert if the exporter is unable to scrape **Schedules** metrics from Shield during the last 10 minutes |
| ShieldExporterSchedulesScrapeTooOld | I will emit a **warning** alert if the last scrape for **Schedules** metrics from Shield was more than 10 minutes ago |
| ShieldExporterStatusScrapeError | I will emit a **critical** alert if the exporter is unable to scrape **Status** metrics from Shield during the last 10 minutes |
| ShieldExporterStatusScrapeTooOld | I will emit a **warning** alert if the last scrape for **Status** metrics from Shield was more than 10 minutes ago |
| ShieldExporterStoresScrapeError | I will emit a **critical** alert if the exporter is unable to scrape **Stores** metrics from Shield during the last 10 minutes |
| ShieldExporterStoresScrapeTooOld | I will emit a **warning** alert if the last scrape for **Stores** metrics from Shield was more than 10 minutes ago |
| ShieldExporterTargetsScrapeError | I will emit a **critical** alert if the exporter is unable to scrape **Targets** metrics from Shield during the last 10 minutes |
| ShieldExporterTargetsScrapeTooOld | I will emit a **warning** alert if the last scrape for **Targets** metrics from Shield was more than 10 minutes ago |
| ShieldExporterTasksScrapeError | I will emit a **critical** alert if the exporter is unable to scrape **Tasks** metrics from Shield during the last 10 minutes |
| ShieldExporterTasksScrapeTooOld | I will emit a **warning** alert if the last scrape for **Tasks** metrics from Shield was more than 10 minutes ago |

## <a id="dashboards"></a>Dashboards

Dingo Prometheus™ comes with a set predefined dashboards for Dingo Shield™.

### <a id="shield-summary-dashboard"></a>Shield Summary

The "**Shield: Summary**" dahboard provides an overall view of your **Shield installation**:

  ![monitoring-shield-summary-dashboard](images/monitoring-shield-summary-dashboard.png)

### <a id="shield-tasks-dashboard"></a>Shield Tasks

The "**Shield: Tasks**" dahboard provides an overall view of your **Shield Tasks**:

  ![monitoring-shield-tasks-dashboard](images/monitoring-shield-tasks-dashboard.png)

### <a id="shield-exporter-dashboard"></a>Shield Exporter

The "**Prometheus: Shield Exporter**" dahboard provides an overall view of your **Shield Exporter**:

  ![monitoring-shield-exporter-dashboard](images/monitoring-shield-exporter-dashboard.png)
