<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    P-MySQL Documentation
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Dingo S3 for Pivotal Cloud Foundry&reg;
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-s3/release-notes.html">Release Notes</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-s3/known-issues.html">Known Issues</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          General Information
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="https://aws.amazon.com/s3/">Why Amazon S3 as your blobstore?</a>
            </li>
            <li class="menu-link">
              <a href="https://aws.amazon.com/s3/faqs/">Amazon S3 FAQs</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-s3/about-tile.html">Dingo S3 tile and Amazon S3</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Usage
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-s3/usage-provision.html">Provision &amp; bind new S3 bucket</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-s3/usage-delete.html">Revoke access &amp; destroy buckets</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-s3/lang-examples.html">Language examples</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-s3/lang-s3-sdk.html">AWS SDKs</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Administration
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-s3/installation.html">Installation</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-s3/admin.html">Administration</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
