<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Dingo Redis docs
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Dingo Redis for Pivotal Cloud Foundry&reg;
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-redis/">Why Dingo Redis?</a>
            </li>
            <li class="menu-link">
              <a href="http://www.redis.io/">What is Redis?</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-redis/contact.html">Contact Us</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-redis/release-notes.html">Release Notes</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-redis/known-issues.html">Known Issues</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-redis/eula.html">EULA</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-redis/eol-support-policy.html">EOL Support Policy</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Usage
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-redis/usage-tutorial.html">Tutorial</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-redis/usage-provision.html">Provision &amp; bind new database</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-redis/usage-delete.html">Revoke access &amp; destroy database</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-redis/lang-examples.html">Language examples</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="menu-item js-menu-item">
        <div class="menu-title js-menu-title">
          Administration
        </div>
        <div class="menu-content js-menu-content" aria-hidden="true">
          <ul>
            <li class="menu-link">
              <a href="/dingo-redis/download.html">Download</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-redis/installation.html">Installation</a>
            </li>
            <li class="menu-link">
              <a href="/dingo-redis/admin-tutorial.html">Tutorial for Administrators</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
