<div class="announcement">
  <h1>We just released Dingo S3!</h1>
  <h3>Dingo S3 lets you manage blobstores faster and easier than ever.</h3>
  <div class="benefits">
    <h4>Download before March and become an early adopter</h4>
    <ul>
      <li>60-day free trial period</li>
      <li>50% off your first annual payment</li>
      <li>Priority support via Slack</li>
    </ul>
  </div>
  <div class="signup-bar">
    <a class="btn" href="dingo-s3/download.html">Yes! Get me the free trial</a>
  </div>
</div>
