.announcement
  %h1 We just released Dingo S3!
  %h3 Dingo S3 lets you manage blobstores faster and easier than ever.
  .benefits
    %h4 Download before March and become an early adopter
    %ul
      %li 60-day free trial period
      %li 50% off your first annual payment
      %li Priority support via Slack
  .signup-bar
    %a.btn(href="dingo-s3/download.html") Yes! Get me the free trial
