---
breadcrumb: <%=vars.book_title%>
---
<div class="main-container">
  <div class="main">
    <h2 class="title-details" style="text-align: center; padding-top: 1.5em; padding-bottom: 0.5em; font-size: 2em;">
      AWS S3 buckets - available now for Pivotal Cloud Foundry.
    </h2>
  </div>
</div>
<ul class="panels">
  <li class="panel span3">
    <a class="button" href="http://docs.pivotal.io/pivotalcf/getstarted/pcf-docs.html">
      <h2 class="title-flashy" style="padding-top: 0em; padding-left: 0em; line-height: 0.7em; margin-top: 0em;">
        <span class="title-deemph" style="font-size: 0.8em;">First Steps</span><br>Get Pivotal Cloud Foundry</h2>
    </a>
  </li>
  <li class="panel span3">
    <a class="button" href="/amazon-s3">
      <h3 class="title-flashy" style="padding-top: 0em; padding-left: 0em; line-height: 0.7em; margin-top: 0em;">
        <span class="title-deemph" style="font-size: 0.8em;">Install Tile</span><br>AWS S3</h3>
    </a>
  </li>
  <li class="panel span3">
    <a class="button" href="https://dingodb.slack.com">
      <h3 class="title-flashy" style="padding-top: 0em; padding-left: 0em; line-height: 0.7em; margin-top: 0em;">
        <span class="title-deemph" style="font-size: 0.8em;">Chat On</span><br>Slack</h3>
    </a>
  </li>
</ul>
<div class="main docs-column-main">
  <div class="docs-subsection">
    <h3><a class="title" href="/amazon-s3/">AWS S3</a></h3>
    <div class="docs-module-description">The AWS S3 product tile allows Pivotal Cloud Foundry users to provision new AWS S3 buckets, bind them to their applications, and then access the buckets using any AWS S3 library.div>
    <br>
    <div class="docs-column-description">
      <div class="docs-link">
        <a href="/amazon-s3/usage/">Using AWS S3 with Pivotal Cloud Foundry</a>
      </div>
      <div class="docs-link">
        <a href="/amazon-s3/installation">Installing AWS S3 tile into Pivotal Ops Manager</a>
      </div>
      <div class="docs-link">
        <a href="/amazon-s3/admin">Administering AWS S3 for Pivotal Cloud Foundry</a>
      </div>
    </div>
  </div>
</div>
</div>
