---
breadcrumb: <%=vars.book_title%>
---
<div class="main-container">
  <div class="main">
    <h2 class="title-details" style="text-align: center; padding-top: 1.5em; padding-bottom: 0.5em; font-size: 2em;">
      Dingo S3 buckets - available now for Pivotal Cloud Foundry.
    </h2>
  </div>
</div>
<ul class="panels">
  <li class="panel span3">
    <a class="button" href="http://docs.pivotal.io/pivotalcf/getstarted/pcf-docs.html">
      <h2 class="title-flashy" style="padding-top: 0em; padding-left: 0em; line-height: 0.7em; margin-top: 0em;">
        <span class="title-deemph" style="font-size: 0.8em;">Get</span><br>Pivotal Cloud Foundry</h2>
    </a>
  </li>
  <li class="panel span3">
    <a class="button" href="/dingo-s3">
      <h3 class="title-flashy" style="padding-top: 0em; padding-left: 0em; line-height: 0.7em; margin-top: 0em;">
        <span class="title-deemph" style="font-size: 0.8em;">Install Tile</span><br>Dingo S3</h3>
    </a>
  </li>
  <li class="panel span3">
    <a class="button" href="http://slack.dingotiles.com">
      <h3 class="title-flashy" style="padding-top: 0em; padding-left: 0em; line-height: 0.7em; margin-top: 0em;">
        <span class="title-deemph" style="font-size: 0.8em;">Chat On</span><br>Slack</h3>
    </a>
  </li>
</ul>
<div class="main docs-column-main">
  <div class="docs-subsection">
    <h3><a class="title" href="/dingo-s3/">Dingo S3</a></h3>
    <div class="docs-module-description">The Dingo S3 product tile allows Pivotal Cloud Foundry users to provision new Dingo S3 buckets, bind them to their applications, and then access the buckets using any Dingo S3 library.div>
    <br>
    <div class="docs-column-description">
      <div class="docs-link">
        <a href="/dingo-s3/usage-provision.html">Getting started with Dingo S3 with Pivotal Cloud Foundry</a>
      </div>
      <div class="docs-link">
        <a href="/dingo-s3/installation.html">Installing Dingo S3 tile into Pivotal Ops Manager</a>
      </div>
      <div class="docs-link">
        <a href="/dingo-s3/admin.html">Administering Dingo S3 for Pivotal Cloud Foundry</a>
      </div>
    </div>
  </div>
</div>
</div>
