---
breadcrumb: <%=vars.book_title%>
---
<div class="main-container">
  <div class="main">
    <h2 class="title-details" style="text-align: center; padding-top: 1.5em; padding-bottom: 0.5em; font-size: 2em;">
      <a href="/dingo-s3/"><img src="/dingo-s3/images/dingo-s3-tile.png"></a>
    </h2>
  </div>
</div>
<ul class="panels">
  <li class="panel span3">
    <a class="button" href="http://docs.pivotal.io/pivotalcf/getstarted/pcf-docs.html">
      <h2 class="title-flashy" style="padding-top: 0em; padding-left: 0em; line-height: 0.7em; margin-top: 0em;">
        <span class="title-deemph" style="font-size: 0.8em;">Get</span><br>Pivotal CF</h2>
    </a>
  </li>
  <li class="panel span3">
    <a class="button" href="/dingo-s3/installation.html">
      <h3 class="title-flashy" style="padding-top: 0em; padding-left: 0em; line-height: 0.7em; margin-top: 0em;">
        <span class="title-deemph" style="font-size: 0.8em;">Install Tile</span><br>Dingo S3</h3>
    </a>
  </li>
  <li class="panel span3">
    <a class="button" href="/dingo-s3/usage-provision.html">
      <h3 class="title-flashy" style="padding-top: 0em; padding-left: 0em; line-height: 0.7em; margin-top: 0em;">
        <span class="title-deemph" style="font-size: 0.8em;">Create buckets on</span><br>Amazon S3</h3>
    </a>
  </li>
</ul>
<div class="main docs-column-main">
  <div class="docs-subsection">
    <h3><a class="title" href="/dingo-s3/">General Information</a></h3>
    <div class="docs-module-description">
      Dingo S3 users can create new Amazon S3 buckets instantly and access the buckets using any Amazon S3 library from their Pivotal Cloud Foundry applications.
    </div>
    <br>
    <div class="docs-column-description">
      <div class="docs-link">
        <a href="https://aws.amazon.com/s3/">Why Amazon S3 as your object store?</a>
      </li>
      <div class="docs-link">
        <a href="https://aws.amazon.com/s3/faqs/">Amazon S3 FAQs</a>
      </li>
      <div class="docs-link">
        <a href="/dingo-s3/about-tile.html">Dingo S3 tile and Amazon S3</a>
      </li>
    </div>
  </div>

  <div class="docs-subsection">
    <h3><a class="title" href="/dingo-s3/">Developers</a></h3>
    <div class="docs-module-description">
      Use <code>cf</code> commands to create, bind, revoke and destroy buckets from any application.
    </div>
    <br>
    <div class="docs-column-description">
      <div class="docs-link">
        <a href="/dingo-s3/usage-provision.html">Provision &amp; bind new S3 bucket</a>
      </li>
      <div class="docs-link">
        <a href="/dingo-s3/usage-delete.html">Revoke access &amp; destroy buckets</a>
      </li>
      <div class="docs-link">
        <a href="/dingo-s3/lang-s3-sdk.html">AWS SDKs</a>
      </li>
      <div class="docs-link">
        <a href="/dingo-s3/lang-examples.html">Language examples</a>
      </li>
    </div>
  </div>
  <hr/>
  <div class="docs-subsection">
    <h3><a class="title" href="/dingo-s3/">Operations</a></h3>
    <div class="docs-module-description">
      Guides to installation and operations/administration.
    </div>
    <br>
    <div class="docs-column-description">
      <div class="docs-link">
        <a href="/dingo-s3/installation.html">Installation</a>
      </li>
      <div class="docs-link">
        <a href="/dingo-s3/admin.html">Administration</a>
      </li>
    </div>
  </div>
</div>
</div>
