---
title: Installing to Pivotal Ops Manager
---

## <a id="upload-tile"></a>Upload tile

The tile can be downloaded from https://www.dingotiles.com

Click "Import a Product" on the left hand side of your Ops Manager dashboard. Select the `dingo-backup-storage-x.y.z.pivotal` file to upload.

The "Dingo Backup Storage™" product will appear in the "Available Products" list. Click "Add" to move it to the Installation Dashboard.

## <a id="first-installation"></a>First installation


![install-step1-no-broker](/dingo-backup-storage/images/install-step1-no-broker.png)


There is no configuration required for the tile to install it.

Press "Apply Changes".

Over time, you will want to expand the persistent disk to allow more and more backups to be stored.

**It is highly recommended that you configure the persistent disk to be as large as possible initially.**
