// Variables that use the values defined in partials/_book-base-values.scss
// and/or partials/_vars.scss

$dingoblue1: #2185c5;
$dingoblue2: #146eb4;

$color-accent-bright: $dingoblue1;
$color-bg-header: $dingoblue2;
