<div class="copyright">
  <a href='/'><%=vars.book_title%></a>
  &copy; <%= Time.now.year %> <a href='http://dingodb.io'><%=vars.company%></a>. All Rights Reserved.
</div>
<div class="support">
  <%= vars.support_link %>
</div>
