<div class="copyright">
  <a href='/'><%=vars.book_title%></a>
  &copy; <%= Time.now.year %> WorldProtect Investments Ltd. All Rights Reserved. With love from <a href="https://starkandwayne.com">Stark &amp; Wayne</a>.
</div>
<div class="support">
  <%= vars.support_link %>
</div>
