<div class="copyright">
  <a href='/'><%=vars.book_title%></a>
  &copy; <%= Time.now.year %> WorldProtect Investments Limited. All Rights Reserved.
  Dingo Tiles™, Dingo PostgreSQL™, Dingo Prometheus™, Dingo S3™ and Dingo Shield™ are trademarks of WorldProtect Investments Limited.
  Cloud Foundry&reg; is a registered trademark of Cloud Foundry Foundation.
  Consulting for Dingo Tiles™ available from <a href="https://starkandwayne.com">Stark &amp; Wayne LLC</a>.
</div>
<div class="support">
  <%= vars.support_link %>
</div>
